[submodule "tiny-process-library"]
	path = tiny-process-library
	url = https://github.com/eidheim/tiny-process-library
[submodule "json"]
	path = json
	url = https://github.com/taocpp/json
[submodule "config"]
	path = config
	url = https://github.com/taocpp/config
[submodule "PEGTL"]
	path = PEGTL
	url = https://github.com/taocpp/PEGTL
